@font-face {
    font-family: 'NowBold';
    src: url(font/Now/Now-Black.otf) format("opentype");
}

@font-face {
    font-family: 'Montserrat-light';
    src: url(font/Montserrat/Montserrat-Medium.ttf) format("truetype");
}

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(156, 155, 155);
    font-family: 'Montserrat-light';
}

.container {
    margin: auto;
    background-color: white;
    width: 210mm;
    height: 297mm;
    display: grid;
    grid-template-columns: 40% 60%;
    overflow: hidden;
    position: relative;
    margin-top: 13px;
    margin-bottom: 13px;
    box-shadow:2px 2px 6px 1px #424242;
}

.left-side {
    background-color: white;
    color: black;
    display: grid;
    grid-template-rows: 43% 12% 13% 30%;
    padding-left: 10%;
    position: relative;
}

.the-design {
    height: 180px;
    width: 180px;
    background: #27384c;
    position: absolute;
    top: 0;
    left: 0;
    position: absolute;
}

.Profile-Pic {
    width: 250px;
    height: 250px;
    border: 4px solid #27384c;
    border-radius: 50%;
    background-image: url("pics/guy-with-suit.png");
    background-position: center top;
    background-size: 250%;
    z-index: 1;
    box-shadow: 0 0 0 10px white;
    margin-top: 23%;
    margin-left: 10%;
    position: absolute;
    z-index: 2;
}

.About-me {
    text-align: center;
    padding: 0px 20px;
    position: absolute;
    top: 322px;
}

.About-me-text {
    font-size: 9.9pt;
    padding: 0px 15px;
}

.headTitles {
    font-size: 15.4pt;
    padding: 10px;
    font-weight: 200;
}

.left-side .titles {
    text-align: center;
    background-color: #27384c;
    margin-bottom: 20px;
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
    color: white;
    font-size: 11.6pt;
}

li {
    margin-left: 55px;
    margin-top: 10px;
    font-size: 12.6pt;
}

h2 {
    text-align: center;
}

p {
    display: inline-block;
    font-size: 9.9pt;
}

.contact {
    padding-left: 2%;
    display: flex;
    flex-direction: column;
}

.contacting {
    display: flex;
    align-items: center;
}

span {
    margin: 7px 13px 0px 0px;
    width: 32px;
    height: 32px;
    font-size: 22px;
    border-radius: 50%;
    background-color: #27384c;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    color: #fff;
}

.list-box {
    height: 140px;
}

.right-side {
    padding-right: 14%;
    padding-left: 3.5%;
    padding-top: 5%;
    z-index: 2;
}

.semi-circle1 {
    display: inline-block;
    position: absolute;
    right: 0;
    top: -15px;
    height: 180px;
    width: 90px;
    border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
    background-color:#27384c;
     /* rgb(191 194 248); */
}

.right-side .titles {
    text-align: center;
    background-color: #27384c;
    margin-bottom: 20px;
    width: 90%;
    color: white;
    font-size: 11.6pt;
}

.nameDiv {
    padding-top: 35px;
}

.Name {
    font-family: 'NowBold';
    color:#27384c;
    font-size: 42.4pt;
}

.experience>*,
.education>* {
    display: block;
}

.experience-div,
.education-div {
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    font-weight: 50;
    padding: 5px;
}

h3 {
    width: 150px;
    font-size: 10.5pt;
}

.education p,
.experience p {
    padding-top: 6px;
}

.semi-circle2 {
    display: inline-block;
    position: absolute;
    bottom: 2px; 
    height: 160px;
    width: 80px;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    background-color:#27384c;
     /* rgb(171, 175, 231); */
}

.skills-elements {
    display: grid;
    grid-template-rows: 40px;
    margin-top: -10px;
}

.skills-div {
    display: flex;
    align-items: center;
    position: relative;
}

.progress-bar-outer1,
.progress-bar-outer2 {
    background-color: grey;
    border-radius: 20px;
    height: 8px;
    width: 90px;
    display: flex;
    position: absolute;
    left: 200px;

}

.progress-bar-done1,
.progress-bar-done2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #27384c;
    height: 100%;
    width: 0;
    transition: 1s ease 0.3s;
    position: relative;
}

.progress-input1,
.progress-input2 {
    width: 30px;
    display: inline-block;
    border-color: black;
    position: absolute;
    right: -50px;
    top: -5px;
    border-color: transparent;
    color: #27384c;
    font-size: 14.3pt;
}

.percentage {
    display: inline-block;
    position: absolute;
    right: -60px;
    top: -5px;
    color: #27384c;
    font-size: 14.3pt;
}

.semi-circle3 {
    display: inline-block;
    position: absolute;
    bottom: 0px; 
    right:0;
    height:100px;
    width: 100px;
    border-top-left-radius: 100%;
    background-color:#27384c;
     /* rgb(171, 175, 231); */
}