* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body{
   
    
    
}

.container{
    margin: auto;
    background-color: aqua;
    width: 210mm;
    height: 297mm;
    display:grid;
    grid-template-columns: auto; /*mistake here must fixx*/
        

    /*
  overflow: hidden;
    */
}

.right-side{
    background-color: black;
    color: white;
   

}